name: Social Readme

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  update-social:
    runs-on: ubuntu-latest
    steps:
      - uses: anzhiyu-c/social-readme@master
        with:
          blog_rss_link: https://blog.anheyu.com/rss.xml
          blog_limit: 5 # blog数量
          douban_name: 252613592
          douban_limit: 5 # 豆瓣最新动态数量
          commit_message: Updated social rss by social-readme # commit说明
